<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>LoadOnStartup</servlet-name>
		<servlet-class>android.testing.system.servlet.LoadOnStartup</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>android.testing.system.servlet.Login</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Reg</servlet-name>
		<servlet-class>android.testing.system.servlet.Reg</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CheckUsername</servlet-name>
		<servlet-class>android.testing.system.servlet.CheckUsername</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetLefttime</servlet-name>
		<servlet-class>android.testing.system.servlet.GetLefttime</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateLefttime</servlet-name>
		<servlet-class>android.testing.system.servlet.UpdateLefttime</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddLefttime</servlet-name>
		<servlet-class>android.testing.system.servlet.AddLefttime</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetUser</servlet-name>
		<servlet-class>android.testing.system.servlet.GetUser</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateUser</servlet-name>
		<servlet-class>android.testing.system.servlet.UpdateUser</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ActivateUser</servlet-name>
		<servlet-class>android.testing.system.servlet.ActivateUser</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetAllUsers</servlet-name>
		<servlet-class>android.testing.system.servlet.user.GetAllUsers</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateUsers</servlet-name>
		<servlet-class>android.testing.system.servlet.UpdateUsers</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NewReservation</servlet-name>
		<servlet-class>android.testing.system.servlet.reservation.NewReservation</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoadTestcases</servlet-name>
		<servlet-class>android.testing.system.servlet.testcases.LoadTestcases</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UploadTestcases</servlet-name>
		<servlet-class>android.testing.system.servlet.testcases.UploadTestcases</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NewProject</servlet-name>
		<servlet-class>android.testing.system.servlet.testcases.NewProject</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RenameProject</servlet-name>
		<servlet-class>android.testing.system.servlet.testcases.RenameProject</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteProject</servlet-name>
		<servlet-class>android.testing.system.servlet.testcases.DeleteProject</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RenameTestcase</servlet-name>
		<servlet-class>android.testing.system.servlet.testcases.RenameTestcase</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteTestcase</servlet-name>
		<servlet-class>android.testing.system.servlet.testcases.DeleteTestcase</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MoveTestcase</servlet-name>
		<servlet-class>android.testing.system.servlet.testcases.MoveTestcase</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetUserLogs</servlet-name>
		<servlet-class>android.testing.system.servlet.log.GetUserLogs</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetDeviceLogs</servlet-name>
		<servlet-class>android.testing.system.servlet.log.GetDeviceLogs</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetAllDevices</servlet-name>
		<servlet-class>android.testing.system.servlet.device.GetAllDevices</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetUserReservations</servlet-name>
		<servlet-class>android.testing.system.servlet.reservation.GetUserReservations</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CancelReservation</servlet-name>
		<servlet-class>android.testing.system.servlet.reservation.CancelReservation</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PasswordReset</servlet-name>
		<servlet-class>android.testing.system.servlet.user.PasswordReset</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NewDevice</servlet-name>
		<servlet-class>android.testing.system.servlet.device.NewDevice</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateDevice</servlet-name>
		<servlet-class>android.testing.system.servlet.device.UpdateDevice</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UnactiveDevices</servlet-name>
		<servlet-class>android.testing.system.servlet.device.UnactiveDevices</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteDevices</servlet-name>
		<servlet-class>android.testing.system.servlet.device.DeleteDevices</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ActiveDevices</servlet-name>
		<servlet-class>android.testing.system.servlet.device.ActiveDevices</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ActivateUsers</servlet-name>
		<servlet-class>android.testing.system.servlet.user.ActivateUsers</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateStates</servlet-name>
		<servlet-class>android.testing.system.servlet.user.UpdateStates</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteUsers</servlet-name>
		<servlet-class>android.testing.system.servlet.user.DeleteUsers</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PasswordModify</servlet-name>
		<servlet-class>android.testing.system.servlet.user.PasswordModify</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>QueryLogs</servlet-name>
		<servlet-class>android.testing.system.servlet.log.QueryLogs</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetAllLogs</servlet-name>
		<servlet-class>android.testing.system.servlet.log.GetAllLogs</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetSpecLogs</servlet-name>
		<servlet-class>android.testing.system.servlet.log.GetSpecLogs</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CheckUser</servlet-name>
		<servlet-class>android.testing.system.servlet.user.CheckUser</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetDevice</servlet-name>
		<servlet-class>android.testing.system.servlet.device.GetDevice</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Restart</servlet-name>
		<servlet-class>android.testing.system.servlet.Restart</servlet-class>
	</servlet>






	<servlet-mapping>
		<servlet-name>LoadOnStartup</servlet-name>
		<url-pattern>/servlet/LoadOnStartup</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/servlet/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Reg</servlet-name>
		<url-pattern>/servlet/Reg</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckUsername</servlet-name>
		<url-pattern>/servlet/CheckUsername</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetLefttime</servlet-name>
		<url-pattern>/servlet/GetLefttime</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateLefttime</servlet-name>
		<url-pattern>/servlet/UpdateLefttime</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddLefttime</servlet-name>
		<url-pattern>/servlet/AddLefttime</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetUser</servlet-name>
		<url-pattern>/servlet/GetUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateUser</servlet-name>
		<url-pattern>/servlet/UpdateUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ActivateUser</servlet-name>
		<url-pattern>/servlet/ActivateUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetAllUsers</servlet-name>
		<url-pattern>/servlet/user/GetAllUsers</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateUsers</servlet-name>
		<url-pattern>/servlet/UpdateUsers</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NewReservation</servlet-name>
		<url-pattern>/servlet/reservation/NewReservation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoadTestcases</servlet-name>
		<url-pattern>/servlet/testcases/LoadTestcases</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadTestcases</servlet-name>
		<url-pattern>/servlet/testcases/UploadTestcases</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NewProject</servlet-name>
		<url-pattern>/servlet/testcases/NewProject</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RenameProject</servlet-name>
		<url-pattern>/servlet/testcases/RenameProject</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteProject</servlet-name>
		<url-pattern>/servlet/testcases/DeleteProject</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RenameTestcase</servlet-name>
		<url-pattern>/servlet/testcases/RenameTestcase</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteTestcase</servlet-name>
		<url-pattern>/servlet/testcases/DeleteTestcase</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MoveTestcase</servlet-name>
		<url-pattern>/servlet/testcases/MoveTestcase</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetUserLogs</servlet-name>
		<url-pattern>/servlet/log/GetUserLogs</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetDeviceLogs</servlet-name>
		<url-pattern>/servlet/log/GetDeviceLogs</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetAllDevices</servlet-name>
		<url-pattern>/servlet/device/GetAllDevices</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetUserReservations</servlet-name>
		<url-pattern>/servlet/reservation/GetUserReservations</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CancelReservation</servlet-name>
		<url-pattern>/servlet/reservation/CancelReservation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PasswordReset</servlet-name>
		<url-pattern>/servlet/user/PasswordReset</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NewDevice</servlet-name>
		<url-pattern>/servlet/device/NewDevice</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateDevice</servlet-name>
		<url-pattern>/servlet/device/UpdateDevice</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UnactiveDevices</servlet-name>
		<url-pattern>/servlet/device/UnactiveDevices</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteDevices</servlet-name>
		<url-pattern>/servlet/device/DeleteDevices</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ActiveDevices</servlet-name>
		<url-pattern>/servlet/device/ActiveDevices</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ActivateUsers</servlet-name>
		<url-pattern>/servlet/user/ActivateUsers</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateStates</servlet-name>
		<url-pattern>/servlet/user/UpdateStates</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteUsers</servlet-name>
		<url-pattern>/servlet/user/DeleteUsers</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PasswordModify</servlet-name>
		<url-pattern>/servlet/user/PasswordModify</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>QueryLogs</servlet-name>
		<url-pattern>/servlet/log/QueryLogs</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetAllLogs</servlet-name>
		<url-pattern>/servlet/log/GetAllLogs</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetSpecLogs</servlet-name>
		<url-pattern>/servlet/log/GetSpecLogs</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckUser</servlet-name>
		<url-pattern>/servlet/user/CheckUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetDevice</servlet-name>
		<url-pattern>/servlet/device/GetDevice</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Restart</servlet-name>
		<url-pattern>/servlet/Restart</url-pattern>
	</servlet-mapping>

	<listener>
		<listener-class>android.testing.system.servlet.LoadOnStartup</listener-class>
	</listener>

	<context-param>
		<param-name>testcases</param-name>
		<param-value>D:/testcases/</param-value>
	</context-param>

	<context-param>
		<param-name>MAIL_STMP</param-name>
		<param-value>smtp.exmail.qq.com</param-value>
	</context-param>
	<context-param>
		<param-name>MAIL_PORT</param-name>
		<param-value>25</param-value>
	</context-param>
	<context-param>
		<param-name>MAIL_USERNAME</param-name>
		<param-value>no-reply@xinfuonline.com</param-value>
	</context-param>
	<context-param>
		<param-name>MAIL_PASSWORD</param-name>
		<param-value>xinfuonline,123</param-value>
	</context-param>
	<context-param>
		<param-name>MAIL_ADDRESS</param-name>
		<param-value>no-reply@xinfuonline.com</param-value>
	</context-param>
	<context-param>
		<param-name>MAIL_TITLE</param-name>
		<param-value>全业务能力开放新技术研究-终端测试环境系统</param-value>
	</context-param>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
